:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text", "Segoe UI", sans-serif;
  background: radial-gradient(circle at top, #0b1020 0, #03040a 40%, #000 100%);
  color: var(--c-text);
}

body {
  min-height: 100dvh;
  margin: 0;
  padding: 0;
}

a {
  color: var(--c-primary);
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: underline;
  }
}

main {
  min-height: 100%;
  width: 100dvw;

  > section {
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

ul.socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;

  li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    transition: all 0.3s ease;

    span {
      width: 100%;
      height: 100%;
    }
  }
}