*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  color-scheme: dark;
  scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol {
  margin: 0;
}

button,
a {
  font: inherit;
}

button {
  border: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}
